<div class="container p-4">
    <div class="row">
        
        {{#each hotels}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="">
                            <h3 class="card-title text-uppercase">
                                {{ nombre }}
                            </h3>
                        </a>
                        <p class="m-2">{{ descripcion }}</p>
                        <p>{{ubicacion}}</p>
                        <a href="/hotels/deleteHotel/{{ idHotel }}" class="btn btn-danger">Borrar</a>
                        <a href="/hotels/editHotel/{{ idHotel }}" class="btn btn-secondary">Editar</a>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>No hay hoteles registrados aún</p>
                    <a href="/hotels/addHotel">Registra un hotel</a>
                </div>
            </div>
        {{/each}}

    </div>
</div>