<div class="container p-4">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <a href="">
                        <h1 class="card-title text-uppercase">
                            {{ hotel.nombre }}
                        </h1>
                    </a>
                    <h3>Descripción:</h3>
                    <p class="m-2">{{ hotel.descripcion }}</p>
                    <h3>Ubicación:</h3>
                    <p>{{ hotel.ubicacion }}</p>
                    <h3>Facilidades:</h3>
                    <p>{{ hotel.facilidades }}</p>
                    <h3>Descripción de las instalaciones:</h3>
                    <p>{{ hotel.descripcionInstalaciones }}</p>
                </div>
            </div>
        </div>
    </div>
</div>